.create-order > .main-content{
    width: 85%;
    margin: 4rem 15rem;
}

    .create-order > .main-content > .app-card{
        min-width: 40rem;
        
    }
@media only screen and (max-width: 400px) {
  .create-order > .main-content{
    margin: 7rem 1rem 4rem 1rem;
    width: 100%;
    }   

    .create-order > .main-content > .app-card{
        min-width: 100%;
        
    }
}