
.login > .content{
    margin: 4rem 5rem;
}
.login > .content{
    display: flex;
}

.login > .content >  .illustrator{
    width: 60%;
    
}

.login > .content > .login-form {
    width: 40%;
}

@media only screen and (max-width: 400px) {
  
    .login > .content{
        margin: 0rem 10rem;
    }
  
.login > .content >  .illustrator{
    display: none;
    
}
.login > .content {
        margin:  0rem;
}
.login > .content > .login-form {
    width: 100%;
}
}