
.track-order > .content{
    /* background-color: black; */
    display: flex;

}

.track-order > .content > .main-content{
    margin: 5rem 5rem 4rem 20rem;
    width: 100%;
       
}
.track-container .input-line{
    padding: .1rem;
}


@media only screen and (max-width: 400px) {
.track-order > .content >  .main-content{
    margin: 5rem 1rem 4rem 1rem;
    width: 100%;
    }   

    .delivery > .main-content > .app-card{
        min-width: 100%;
    }
}