
.user-side-bar {
    background-color: black ;
    color: white;
    height: 95vh !important;
    width: 15%;
    position: fixed;
    margin-top: 3rem;
}

.user-side-bar  ul{
    padding: 0px;
    margin-top: 3rem;
}

.user-side-bar  > ul > li a{
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
}
.user-side-bar > ul > li a:hover{
    background-color: gold;
}
.user-nav > .MuiSvgIcon-root{
    margin-right: .7rem;
}
     .close-btn{
        display: none;
     }
@media only screen and (max-width: 400px) {
  
    .user-side-bar {
        background-color: black ;
        z-index: 100;
        position: absolute;
        min-width: 10rem;
        top: 0rem;
        margin: 0rem;
        left: -100%;
        animation: slide-open .75s forwards;
        
    }
     .close-btn{
         background-color: red;
         border-radius: 50%;
         text-align: center;
         min-width: 2rem !important;
         max-width: 2rem;
         margin: 2rem 2rem 0rem 6rem;
         border: .1rem solid white ;
         cursor: pointer;
         display: block;
     }
    .user-side-bar.close-sidebar{
        
        min-width: 10rem;
        left: 0%;
        animation: slide-close .75s forwards;
    }
    .desktop{
        display: none;
    }
    @keyframes slide-open {
        100% { left: 0 }
    }
    @keyframes slide-close{
        100% { left: -100% }
    }
}